<div class="container">
  <h1>Anagrams:</h1>
  <form action="/anagram" method="post">
    <input type="text" name="word" placeholder="Enter a word">
    <input type="submit" value="Anagram it!">
  </form>  
  <% if @anagrams %>
    <% if @anagrams.length < 1 %>
    <h1>SORRY NO MATCHES!!!!!!</h1>
    <% else %>
    <h1> Matching Anagrams for <%= @input_word %> </h1>
    <ul>
      <% @anagrams.each do |word| %>
      <li><%= word.word %></li>
      <% end %>
    </ul>
    <% end %>
  <% end %>
</div>
